name: Run Tests
on:
  pull_request:
  push:
    branches:
      - master

env:
  NIX_PATH: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixos-unstable.tar.gz

jobs:
  integrity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v28
      - name: Structural Integirty Test
        run: cd test/integrity && ./bld.sh
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v28
      - name: Code Format Check
        run: eval "$(nix print-dev-env -f shell.nix)" && treefmt --fail-on-change
  purity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v28
      - name: Purity Integrity Test
        run: cd test/purity && ./purity.sh
  pre-semantics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v28
      - name: Test `pre` Access & Private Semantics
        run: cd test && ./pre.sh
